<a href="https://zhamanakov.com/bees"><img src="../assets/images/navbar.png" style="width: 100%; margin-bottom: 30px;"></a>
<main>
  <div class="container" style="max-width: 80%; width: 80%;">
    <div class="row">
      <div class="col s12">
        <h1>Beehive - Sophienstr. 11 (Berlin)</h1>
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <div class="row" style="margin-top: 30px;">
          <div class="col s12 blue white-text" style="height: 300px;">
            Placeholder for heat map
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <ul style="font-size: 2rem; margin-top: 0;">
              <li>Connection: <span style="color: #27ae60; font-weight: bold;">Online</span></li>
              <li>Battery: <span style="color: #27ae60; font-weight: bold;">93%</span></li>
              <li>Status: <span style="color: #27ae60; font-weight: bold;">OK</span></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col s12 white-text" style="height: 300px;">
            <img src="../assets/wetter.png" style="width: 115%; margin-left: -5%"/>
          </div>
        </div>
      </div>
      <div class="col s8 offset-s1 center">
        <div class="row">
          <div class="col s12 center">
            <app-charts></app-charts>
          </div>
        </div>
        <div class="row" style="margin-top: 50px;">
          <div class="col s12 center">
            <app-charts></app-charts>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer materialize class="page-footer">
  <div class="footer-copyright">
    <div class="container center-align" style="margin: 0 auto; padding: 0;" >
      © 2018 Beelievers
    </div>
  </div>
</footer>
